<label for="IdProyectoTecnico" class="control-label">Proyecto Técnico</label>
@Html.DropDownList("IdProyectoTecnico",ViewBag.ProyectosTecnicosSelect,null,htmlAttributes: new { @class = "form-control ", @style = "width:100%;", @onchange="GetLF()", @disabled="disabled", @readonly="readonly" })
<span for="IdProyectoTecnico" class="text-danger"></span>