<label for="IdTipoIndicadorHijo" class="control-label">Tipo Indicador</label>
@Html.DropDownList("IdTipoIndicadorHijo", (IEnumerable<SelectListItem>)ViewBag.TipoIndicadorHijoList,"Seleccione un indicador" ,htmlAttributes: new { @class = "form-control seleccionBusqueda", @style = "width:100%;", @onchange="SearchOtrosIndicadoresHijo()" })
<span for="IdTipoIndicadorHijo" class="text-danger"></span>