<label for="IdPadre" class="control-label">Otro Indicador Padre</label>
@Html.DropDownList("IdPadre", (IEnumerable<SelectListItem>)ViewBag.OtroIndicadorPadreList,"Seleccione un indicador" ,htmlAttributes: new { @class = "form-control seleccionBusqueda", @style = "width:100%;" , @onchange="changeSelectOtroIndicadorPadreHijo()"})
<span for="IdPadre" class="text-danger"></span>
