<label for="IdOtrosIndicadoresHijos" class="control-label">Otro Indicador</label>
@Html.DropDownList("IdOtrosIndicadoresHijos", (IEnumerable<SelectListItem>)ViewBag.OtroIndicadorCompleteList, htmlAttributes: new { @class = "form-control ", @style = "width:100%;", @multiple="multiple", @onchange="changeSelectOtroIndicadorPadreHijo()" })
<span for="IdOtrosIndicadoresHijos" class="text-danger"></span>
