<label for="IdOtroIndicadorHijo" class="control-label">Otro Indicador</label>
@Html.DropDownList("IdOtroIndicadorHijo", (IEnumerable<SelectListItem>)ViewBag.OtroIndicadorList, htmlAttributes: new { @class = "form-control ", @style = "width:100%;", @onchange="changeSelect()" })
<span for="IdOtroIndicadorHijo" class="text-danger"></span>