<label for="IdHijo" class="control-label">Otro Indicador Hijo</label>
@Html.DropDownList("IdHijo", (IEnumerable<SelectListItem>)ViewBag.OtroIndicadorHijoList,"Seleccione un indicador" ,htmlAttributes: new { @class = "form-control seleccionBusqueda", @style = "width:100%;" , @onchange="changeSelectOtroIndicadorPadreHijo()"})
<span for="IdHijo" class="text-danger"></span>
