<label for="IdProgramaTecnico" class="control-label">Programa Técnico</label>
@Html.DropDownList("IdProgramaTecnico",ViewBag.ProgramasTecnicosSelect,"Seleccionar Programa Técnico",htmlAttributes: new { @class = "form-control ", @style = "width:100%;", @onchange = "GetProyectosTecnicos()" })
<span for="IdProgramaTecnico" class="text-danger"></span>
